<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TPDevOps</title>
  </head>
  <body>
    <header>
        <h1>"Nouveau Titre"</h1>
    </header>
    <main>
        <p>Techniquement je n'ai pas le droit de me plaindre.</p>
        <img src="https://i.natgeofe.com/n/9135ca87-0115-4a22-8caf-d1bdef97a814/75552.jpg?w=2560&h=1706" alt="cat" width="300px"    >
    </main>
    <footer>
      &copy; Nélia Semedo Silva 
      "{{Foot}}"
    </footer>
  </body>
</html>
